html {
  scrollbar-gutter: stable;
}
body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        background-color: #e6f2ff;

}
/* navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px 33px;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    color: #3a4163;
}

.logo:hover {
    background: none;
    color: #3a4163;
    padding: 0;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links li {
    cursor: pointer;
    padding: 5px 15px;
}

.nav-links a {
    text-decoration: none;
    color: #3a4163;
}

.nav-links a:hover {
    background-color: #3a4163;
    color: white;
    border-radius: 15px;
    padding: 5px 15px;
}

.navbar li.login a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
    background-color: #3a4163;
    border-radius: 15px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.navbar li.login a:hover {
    background-color: #2a2f4f;
}

.header-container{
    margin-bottom: 0%;

}

.header {
    text-align: center;
    margin-top: 15px;
    font-weight: 900; /* Extra bold now works */
    color: #3a4163;
    font-size: 70px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    text-shadow: 3px 3px rgb(255, 255, 255);
}

.subheader{
    text-align: center;
    margin-top: 0;
    color: #3a4163;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px rgb(218, 8, 8);
}
.buttons{
    text-align: center;
    margin-top: 25px;
    gap: 20px;
    display: column;
}
.mainbtn{
    background-color: #4a6ff3;
    color: white;
    border: none;
    padding: 8px 30px;
    font-size: 25px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}



.secondbtn{
    background-color: white;
    color: #4a6ff3;
    border: 2px solid #4a6ff3;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

h2 p{
    color: #4a6ff3;
    display: inline;
}
.info-cards{
    display: flex;
}
.logo1{
    background-color: #a0c2e7;
}
.mainbtn a {
    text-decoration: none;
    color: white;
}
.info-section{
    text-align: center;
    background-color: #e6f2ff;
    display: flex;
}
.info-cards
{
    background-color: #e6f2ff;
    display: flex;
    justify-content: left;
    gap: 20px;
    padding: 20px 0;
}
.logo img{
    width: 80px;
    height: 80px;
}
.info-header{
    display: column;
}
.contact-info{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}